<div class="container">
  <h3 class="text-center">View Product Details</h3>
  <table class="table custom-table">
    <tbody>
      <tr>
        <th>Product ID:</th>
        <td>{{ product.productId }}</td>
      </tr>
      <tr>
        <th>Name:</th>
        <td>{{ product.name }}</td>
      </tr>
      <tr>
        <th>Description:</th>
        <td>{{ product.description }}</td>
      </tr>
      <tr>
        <th>Price:</th>
        <td>{{ product.price }}</td>
      </tr>
      <tr>
        <th>Stock Quantity:</th>
        <td>{{ product.stockQuantity }}</td>
      </tr>
      <tr>
        <th>Images:</th>
        <td><img [src]="product.images" alt="Product Image" class="img-thumbnail" width="100" /></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center mt-4">
    <button class="btn btn-primary" (click)="goBack()">Back</button>
  </div>
</div>
