<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
          <h3 class="text-center"> Create Product </h3>
          <hr />
          <div class="card-body">
              <form (ngSubmit)="onSubmit()">

                  <div class="form-group">
                      <label> Product Name</label>
                      <input type="text" class="form-control" id="name" [(ngModel)]="product.name" name="name" >
                  </div>

                  <div class="form-group">
                      <label> Description</label>
                      <input type="text" class="form-control" id="description" [(ngModel)]="product.description" name="description" >
                  </div>

                  <div class="form-group">
                      <label> Price</label>
                      <input type="number" class="form-control" id="price" [(ngModel)]="product.price" name="price" >
                  </div>

                  <div class="form-group">
                      <label> Images</label>
                      <input type="text" class="form-control" id="images" [(ngModel)]="product.images" name="images">
                  </div>

                  <div class="form-group">
                      <label> Stock Quantity</label>
                      <input type="number" class="form-control" id="stockQuantity" [(ngModel)]="product.stockQuantity" name="stockQuantity" >
                  </div>

                  <br />
                  <button class="btn btn-success" type="submit">Submit</button>

              </form>
          </div>
      </div>
  </div>
</div>
